<!doctype html>
<html>
   <body style="text-align: center;">

      <h1>Dashboard</h1>

      <!-- <p>{{ name }}</p> -->
      <img src= "{{ url_for('static', filename=url) }}"  alt="Chart" >
      <br>

      <p>{{ name2 }}</p>

      <img src= "{{ url_for('static', filename=url2) }}"  alt="Chart" >

      <br>

      <p>{{ name2 }}</p>

      <img src= "{{ url_for('static', filename=url3) }}"  alt="Chart" >
      <!-- {{ url }} -->

      <br>
      <p>{{ name2 }}</p>
      <h4 style="text-align: center;">Final Output</h4>

      <img src= "{{ url_for('static', filename=url4) }}"  alt="Chart" >

      <br>

      <img src= "{{ url_for('static', filename=url5) }}"  alt="Chart" >
   </body>
</html>